﻿@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment hostingEnv

@{
    ViewData["Title"] = "RazorTemplate";
}

<h2>RazorTemplate</h2>
<p>This is output created from a Razor Template view invoked from the MVC support in ASP.NET Core.</p>

@{
    <br />
    @if (hostingEnv.IsDevelopment())
    {
        <i>Check your local directory for .html source from a demo email.</i>
    }
}